<html>

  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/test.js"></script>
    <p>{{title}}</p>
    <h6>{{designer}}</h6>
    <h1>ENDOCARE DENTAL</h1>
  </head>

  <body>
    <p>Its not just about the treatment but the experience !</p>
    <img src="/img/pic1.png" />
  </body>
</html>